/* ==========================================================================
   38j. Opacity scale
   ========================================================================== */

.ld-opacity-0 {
  opacity: 0;
}

.ld-opacity-25 {
  opacity: 0.25;
}

.ld-opacity-50 {
  opacity: 0.5;
}

.ld-opacity-75 {
  opacity: 0.75;
}

.ld-opacity-100 {
  opacity: 1;
}

